body {
    background-color: #f6f6f6;
}

.navbar {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    position: fixed;
    background: none;
}

.hero {
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
    font-weight: bold;
}

.judulkiri,
.tulisan-bawah-judul {
    letter-spacing: 1px;
    text-align: left;
    width: 500px;
    margin-left: 30px;
    margin-top: 75px;
}

.judulkiri {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    margin-left: 110px;
}



.tulisan-bawah-judul {
    padding: 12px;
    margin-top: 16px;
    font-size: 1.1rem;
}

.full-kanan {
    height: auto;
    width: auto;
    margin-right: 900px;
    margin-top: 75px;

}

.foto img {
    width: 300px;
    height: auto;
    margin-left: auto;
    border-radius: 10%;
}

.foto {
    display: flex;
    gap: 10px;

}

.kanan-gambar {
    margin-left: 50px;
    height: fit-content;
    width: fit-content;
}

.bungkus-skill-medsos {
    display: flex;
}

.skill {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    line-height: 60px;

}

.heromedsos {
    width: auto;
    text-align: center;
    padding-left: 140px;
    padding-top: 43px;
}

svg {
    margin-left: 1px;
}

.medsos {
    text-align: center;
}

.garis1 {
    margin-top: 150px;
}

.full-project {
    margin-top: 40px;
    padding-bottom: 100px;
}

.tulisan-project {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.bagian-project {
    display: flex;
    justify-content: center;
}

.project {
    width: 18rem;
    margin-left: 80px;
    margin-right: 50px;
    text-align: center;
}

.nama-project {
    margin-top: 10px;
    margin-bottom: 10px;
}